@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


:root {
    --gris-color: #504F4F;
    --amarillo-color: #D7B945;
    --azul-color: #607AFF;
}
*{
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100dvb;
    background-color: #000;
}

h1, h2, h3, h4 {
    text-wrap: balanced;
}
p {
    text-wrap: pretty;
}


.inst-busca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    max-width: 100vw;
    height: 60px;
    border-bottom: 1px solid #ffffff56;
    padding: 0 15px;
}
.inst-busca > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 200;
    font-style: light;
    color: #ffffff;
    text-indent: 0;
}

.carga {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.coffe > img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

.barra {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 240px;
    height: 33px;
    background-color: #a7a6a6;
    border-radius: 5px;
    padding: 0 5px;
}

.progresso {
    width: 180px;
    height: 25px;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progresso > p {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 200;
    font-style: light;
    color: #ffffff;
    text-indent: 0;
    text-align: center;
}

.cicle-historias {
    width: 99%;
    max-width: 100vw;
    height: 130px;
    margin: 20px 4px;
    border-bottom: 1px solid #ffffff56;
}

.cicle-historias > ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 8px 0;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    
}

.cicle-historias > ul > li {
    background-image: linear-gradient(45deg, #FCAF45 0%, #F77737 32%, #C13584 83%); ;
    aspect-ratio: 10/16;
    width: 66px;
    height: 66px;
    padding: 2px;
    max-width: 66px;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
    position: relative;
    
}

.cicle-historias > ul > li > div {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.cicle-historias > ul > li > h3 {
    font-family: 'Righteous';
    font-size: 12px;
    font-weight: 100;
    font-style: light;
    width: 66px;
    max-width: 66px;
    color: aliceblue;
    margin: 10px 0;
}


.lk{
    width: 56px;
    width: 56px;
    border-radius: 50%;
}

/* Post */




.card-header {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    width: 99%;
    max-width: 100vw;
    padding: 0 5px;
}

.post-title > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-style: light;
    color: #ffffff;
    text-indent: 0;
}

.post-title > p {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 100;
    font-style: thin;
    color: #bebebe;
    text-indent: 0;
}

.post-image > img {
    width: 30px;
}
.card-title {
    display: flex;
    justify-content: start;
    align-items: center;
}


.circle-post {
    background-image: linear-gradient(45deg, #FCAF45 0%, #F77737 32%, #C13584 83%); ;
    aspect-ratio: 10/16;
    width: 42px;
    height: 42px;
    padding: 2px;
    max-width: 66px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    position: relative;
}
.circle-post > div {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

}
.post-img {
    width: 32px;
    width: 32px;
    border-radius: 50%;
}

.card-contend {
    width: 99%;
    max-width: 100vw;
    margin: 20px 0;
}

.post-content {
    width: 99%;
    max-width: 100vw;
}

.post-content > img {
    width: 100%;
    max-width: 100vw;
    height: auto;
}	

.post-interaccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    max-width: 100vw;
    padding: 0 16px;
}

.like > img{
    width: 26px;
    height: 24px;
    margin-right: 10px;
    margin-top: 10px;
}

.bookmark > img{
    width: 26px;
    height: 24px;
    margin-right: 0px;
    margin-top: 10px;
}


@media (max-width: 400px) {
  
   .barra {
        display: none;
   } 


}

